<div id="<%= dom_id forecast %>">
	<label>ZIP: </label> <%= forecast.zip_code %> <br/>
	<label>Current Temperature: </label> <%= forecast.current_temp %> <br/>
	<label>Low Temperature: </label> <%= forecast.low_temp %> <br/>
	<label>High Temperature: </label> <%= forecast.high_temp %> <br/>
	<label>Last Cached At: </label> <%= forecast.updated_at.localtime %> <br/>
</div>
<br/>